# shellcheck shell=bash

{{ if (eq .chezmoi.os "linux") }}
source "$HOME/.bashrc"
{{ else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.homeDir "/Users/mkeller"))  }}
source "/Users/mkeller/Projects/utils/betterview-dotfiles/.bashrc"
{{ end }}