# shellcheck shell=bash
#    __  __ _  ________ _      _      ______ _____
#   |  \/  | |/ /  ____| |    | |    |  ____|  __ \
#   | \  / | ' /| |__  | |    | |    | |__  | |__) |
#   | |\/| |  < |  __| | |    | |    |  __| |  _  /
#   | |  | | . \| |____| |____| |____| |____| | \ \
#   |_|__|_|_|\_\______|______|______|______|_|  \_\   _
#   |__   __|  ____|  __ \|  \/  |_   _| \ | |   /\   | |
#      | |  | |__  | |__) | \  / | | | |  \| |  /  \  | |
#      | |  |  __| |  _  /| |\/| | | | | . ` | / /\ \ | |
#      | |  | |____| | \ \| |  | |_| |_| |\  |/ ____ \| |____
#     _|_|_ |______|_|_ \_\_|_ |_|_____|_| \_/_/    \_\______|
#    / ____/ __ \| \ | |  ____|_   _/ ____|
#   | |   | |  | |  \| | |__    | || |  __
#   | |   | |  | | . ` |  __|   | || | |_ |
#   | |___| |__| | |\  | |     _| || |__| |
#    \_____\____/|_| \_|_|    |_____\_____|
#
#

{{ template "common/preflight.sh" }}

{{ template "common/aliases.sh" }}
{{ template "common/less.sh" }}

# export PATH="$HOME/bin:$PATH"

# export DOTFILE_DIR=$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")
export DOTFILE_DIR="$HOME/dotfiles"
for dot in $(find $DOTFILE_DIR -maxdepth 1 -type f -name '*.dotfile'); do
  source $dot
done

{{ template "apps/bat.sh" }}

if ! [[ -x "$(command -v starship)" ]]; then
  source backup.prompt
else
  eval "$(starship init bash)"
fi

if [[ -x "$(command -v figlet)" ]]; then
  figlet -f big "DOTFILES LOADED"
fi

# Go straight into Tmux.
# https://unix.stackexchange.com/a/113768
# if command -v tmux &> /dev/null && [ -n "$PS1" ] && [[ ! "$TERM" =~ screen ]] && [[ ! "$TERM" =~ tmux ]] && [ -z "$TMUX" ]; then
#   tmux
# fi
